[Unit]
Description=NEKO.ID China Node server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nekoid
Group=nekoid
WorkingDirectory=/opt/nekoid/current
EnvironmentFile=/etc/nekoid/nekoid.env
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/env node .output/server/index.mjs
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=30
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
